CFB_FEISHU_APP_ID=
CFB_FEISHU_APP_SECRET=
CFB_FEISHU_DOMAIN=feishu
CFB_FEISHU_ALLOWED_USERS=
CFB_FEISHU_REQUIRE_MENTION=true
CFB_CODEX_WORKDIR=/Users/joclaw
CFB_CODEX_EXECUTABLE=
CFB_CODEX_FULL_ACCESS=true
CFB_CODEX_MODEL=
CFB_CODEX_SANDBOX=workspace-write
CFB_DEFAULT_SESSION_ID=
CFB_NO_EVENT_TIMEOUT_MS=600000
CFB_HARD_TIMEOUT_MS=5400000
CFB_REPLY_MAX_CHARS=3500
